@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .hero
    img
      display: none

    .container

    &__nav-mobile
      display: flex
      height: 60px
      width: 100%
      margin-top: 0!important
      background-color: transparent
      align-items: center
      justify-content: space-between
      div
        margin-top: 0
      img
        display: block!important
        position: static
        margin-left: 30px
  .hero__content
    flex-direction: column
    margin-top: 0
    h1
      font-size: 86px
      margin-top: 80px

    h2
      font-size: 67px

    h3
      font-size: 30px

  .advantages__content__prices
   justify-content: center
   flex-wrap: wrap
   &__view
     flex-basis: 45%
     margin-left: 0
     &:first-child
       //margin-left: 40px
     &:nth-child(n+3)
      margin: 20px 0 20px 0

     &:nth-child(2)
       margin-left: 0

  .hero__navigation, .hero__logo, .hero__bin
    display: none
  .hero
    nav
      display: none
  .accessories
    h2,h3
      padding-left: 0

    button
      margin-left: 0
  .catalog
    background: none
    &__content
      padding-bottom: 190px
      &__mobile-btn
        display: block
        text-align: center
        button
          width: 280px
          height: 90px
          background-color: transparent
          border: solid 6px #442a68
          font-size: 18px
          font-family: Roboto
          font-weight: normal
          color: #442a68
          letter-spacing: 3.3px
          text-transform: uppercase
          padding-left: 9px
          padding-bottom: 2px
          cursor: pointer
          transition: 0.33s

          &:hover
            background-color: #442a68
            color: white
            text-decoration: none
            transition: 0.33s
    h3
      display: none

    h2
      padding-left: 0
      margin: auto

    .catalog__content__flex-container
      justify-content: center
      &__left-side
        display: none

// ≥992px
+media-breakpoint-down(md)

  .hero__content

    h1
      font-size: 61px

    h2
      font-size: 53px

    h3
      font-size: 16px
      letter-spacing: 6.5px

  .advantages__content__prices__view
    flex-basis: 30%
    margin: 0 25px 40px!important


  .accessories
    display: flex
    align-items: center
    min-height: 605px

    img
      height: 365px
    &__content
      padding-top: 0
    h2
      font-size: 79px
      line-height: 120px

    h3
      font-size: 50px

  .footer
    &__content
      &__geo
        padding-right: 0

        p:last-child
          font-size: 18px
          span
            font-size: 24px

// ≥768px
+media-breakpoint-down(sm)
  .hero__content
    img
      left: 0
    h1
      font-size: 53px

    h2
      font-size: 41px


  .accessories
    img
      height: 365px
    h2
      font-size: 55px
      line-height: 90px

    h3
      font-size: 33px

  .advantages
    h2
      font-size: 34px

  .catalog__content__header
    padding-left: 20px
  .catalog__content__flex-container__right-side
    justify-content: center
    &__card
      height: auto
      display: flex
      width: 400px
      flex-direction: column
      align-items: center
      &__info
        padding-left: 50px
  .footer
    &__content
      padding-top: 40px
      flex-wrap: wrap
      &__left-side
        flex-basis: 100%
        text-align: center
        margin-bottom: 35px
      &__about-us
        flex-basis: 50%
        margin-right: 0
        ul
          padding-left: 0
          text-align: center
      &__geo
        flex-basis: 50%
        text-align: center
      &__right-side
        flex-basis: 100%
        text-align: center

// ≥576px
+media-breakpoint-down(xs)
  .hero__content
    min-height: 95vh
    display: flex
    align-items: center

    div
      margin-top: 0
    h1
      font-size: 31px
      padding-left: 0
      line-height: 61px
    h2
      font-size: 24px
      padding-left: 0

    h3
      font-size: 16px
      padding-left: 0
      letter-spacing: 1.5px

    img
      display: none

    button
      width: 290px
      height: 90px
      margin-left: 0
      font-size: 19px

  .accessories
    display: flex
    align-items: center
    min-height: 605px

    &__content
      padding-top: 0

    img
      display: none

    h2
      font-size: 55px
      line-height: 90px

    h3
      font-size: 33px

    button
      width: 290px
      font-size: 18px

  .advantages
    h2
      font-size: 22px

  .catalog
    h2
      letter-spacing: 3px

    &__content
      padding-top: 30px


      &__flex-container
        &__right-side
          &__card
            width: 95%
            margin: 20px auto
            img
              width: 100%

            &__info
              padding-left: 10px
              padding-right: 10px

              &>div
                text-align: center

            hr
              width: 95%

            h5
              font-size: 53px

            button
              width: 280px
              height: 90px

  .footer
    &__content

      &__left-side
        flex-basis: 100%

      &__about-us
          flex-basis: 100%

      &__geo
        flex-basis: 100%
        margin-top: 40px

      &__right-side
        flex-basis: 100%
        margin-bottom: 20px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
  .container
    max-width: 1200px
